<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ceylan : Restaurant Admin Template" />
    <meta property="og:title" content="Ceylan : Restaurant Admin Template" />
    <meta property="og:description" content="Ceylan : Restaurant Admin Template" />
    <meta property="og:image" content="social-image.png" />
    <meta name="format-detection" content="telephone=no">

    <title>Ceylan Restaurant</title>

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <link rel="shortcut icon" type="image/png" href="/admin/images/favicon.png" />
    <link rel="stylesheet" href="/admin/vendor/chartist/css/chartist.min.css">
    <link href="/admin/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/admin/vendor/select2/css/select2.min.css">

    <link href="/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/admin/css/site.css" rel="stylesheet" />

    @*Takvim*@
    <link href="~/admin/vendor/fullcalendar/css/main.min.css" rel="stylesheet" />
    <link href="~/admin/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/admin/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/admin/vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet" />

</head>
<body>
    <div id="main-wrapper">
        <div class="nav-header">
            <a href="index-2.html" class="brand-logo">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-117.76 -117.76 747.52 747.52" xml:space="preserve" width="100px" height="100px" fill="#000000" transform="matrix(-1, 0, 0, 1, 0, 0)" stroke="#000000" stroke-width="11.264"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"><rect x="-117.76" y="-117.76" width="747.52" height="747.52" rx="373.76" fill="#7ed0ec" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.024"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#CCCCCC;" d="M455.446,470.401c0,9.758-7.879,17.664-17.598,17.664H74.152c-9.719,0-17.598-7.906-17.598-17.664 V152.466c0-9.753,7.879-17.662,17.598-17.662H437.85c9.719,0,17.598,7.909,17.598,17.662v317.935H455.446z"></path> <path style="fill:#EF645E;" d="M304.102,271.396h-96.203c-6.478,0-11.732,5.273-11.732,11.776v204.892h119.667V283.172 C315.833,276.669,310.581,271.396,304.102,271.396z"></path> <rect x="217.906" y="293.135" style="fill:#FFCC60;" width="76.199" height="173.195"></rect> <path style="fill:#EF645E;" d="M95.627,456.183c-6.002,0-10.867-4.864-10.867-10.868V287.524c0-6,4.865-10.867,10.867-10.867h61.007 c6.002,0,10.868,4.867,10.868,10.867v157.791c0,6.003-4.866,10.868-10.868,10.868L95.627,456.183L95.627,456.183z"></path> <rect x="106.498" y="298.392" style="fill:#FFCC60;" width="39.274" height="136.059"></rect> <path style="fill:#EF645E;" d="M355.364,456.183c-6.001,0-10.867-4.864-10.867-10.868V287.524c0-6,4.866-10.867,10.867-10.867 h61.008c6.002,0,10.867,4.867,10.867,10.867v157.791c0,6.003-4.865,10.868-10.867,10.868L355.364,456.183L355.364,456.183z"></path> <rect x="366.227" y="298.392" style="fill:#FFCC60;" width="39.274" height="136.059"></rect> <path style="fill:#C14616;" d="M276.649,378.6c-3.001,0-5.433-2.433-5.433-5.434v-15.412c0-3.002,2.432-5.434,5.433-5.434 c3.002,0,5.434,2.433,5.434,5.434v15.412C282.082,376.168,279.65,378.6,276.649,378.6z"></path> <path style="opacity:0.1;enable-background:new ;" d="M455.446,245.605v-60.189h-30.998c-6.002,0-10.867,4.864-10.867,10.867 c0-6.003-4.866-10.867-10.867-10.867h-41.298c-6.001,0-10.867,4.864-10.867,10.867c0-6.003-4.865-10.867-10.867-10.867h-41.297 c-6.001,0-10.867,4.864-10.867,10.867c0-6.003-4.866-10.867-10.868-10.867h-41.299c-6.002,0-10.868,4.864-10.868,10.867 c0-6.003-4.866-10.867-10.867-10.867H172.32c-6.002,0-10.868,4.864-10.868,10.867c0-6.003-4.866-10.867-10.868-10.867h-41.297 c-6.001,0-10.867,4.864-10.867,10.867c0-6.003-4.866-10.867-10.867-10.867H56.554v60.189c3.244,1.131,6.724,1.754,10.349,1.754 c17.377,0,31.516-14.137,31.516-31.516c0,17.38,14.139,31.516,31.516,31.516s31.516-14.137,31.516-31.516 c0,17.38,14.138,31.516,31.515,31.516c17.379,0,31.516-14.137,31.516-31.516c0,17.38,14.139,31.516,31.516,31.516 s31.516-14.137,31.516-31.516c0,17.38,14.138,31.516,31.516,31.516c17.376,0,31.515-14.137,31.515-31.516 c0,17.38,14.139,31.516,31.516,31.516s31.516-14.137,31.516-31.516c0,17.38,14.139,31.516,31.515,31.516 C448.722,247.359,452.202,246.736,455.446,245.605z"></path> <path style="fill:#EF645E;" d="M66.902,232.1c-17.377,0-31.515-14.137-31.515-31.516v-19.559c0-6.003,4.865-10.868,10.867-10.868 h41.297c6.001,0,10.867,4.864,10.867,10.868v19.559C98.419,217.963,84.28,232.1,66.902,232.1z"></path> <path style="fill:#FFFFFF;" d="M129.935,232.1c-17.377,0-31.516-14.137-31.516-31.516v-19.559c0-6.003,4.866-10.868,10.867-10.868 h41.297c6.002,0,10.868,4.864,10.868,10.868v19.559C161.452,217.963,147.313,232.1,129.935,232.1z"></path> <path style="fill:#EF645E;" d="M192.967,232.1c-17.377,0-31.515-14.137-31.515-31.516v-19.559c0-6.003,4.865-10.868,10.868-10.868 h41.297c6.001,0,10.867,4.864,10.867,10.868v19.559C224.484,217.963,210.346,232.1,192.967,232.1z"></path> <path style="fill:#FFFFFF;" d="M256,232.1c-17.377,0-31.516-14.137-31.516-31.516v-19.559c0-6.003,4.866-10.868,10.868-10.868 h41.297c6.002,0,10.868,4.864,10.868,10.868v19.559C287.516,217.963,273.377,232.1,256,232.1z"></path> <path style="fill:#EF645E;" d="M319.033,232.1c-17.378,0-31.516-14.137-31.516-31.516v-19.559c0-6.003,4.866-10.868,10.867-10.868 h41.297c6.002,0,10.867,4.864,10.867,10.868v19.559C350.548,217.963,336.409,232.1,319.033,232.1z"></path> <path style="fill:#FFFFFF;" d="M382.065,232.1c-17.377,0-31.516-14.137-31.516-31.516v-19.559c0-6.003,4.866-10.868,10.867-10.868 h41.298c6.001,0,10.867,4.864,10.867,10.868v19.559C413.581,217.963,399.442,232.1,382.065,232.1z"></path> <path style="fill:#EF645E;" d="M445.097,232.1c-17.376,0-31.515-14.137-31.515-31.516v-19.559c0-6.003,4.865-10.868,10.867-10.868 h41.297c6.001,0,10.867,4.864,10.867,10.868v19.559C476.613,217.963,462.475,232.1,445.097,232.1z"></path> <path style="fill:#C14616;" d="M476.613,179.935v-48.776c0-8.63-7.038-15.624-15.72-15.624H51.107 c-8.682,0-15.72,6.994-15.72,15.624v48.776H476.613z"></path> <path style="opacity:0.1;enable-background:new ;" d="M460.893,115.534H51.107c-8.682,0-15.72,6.994-15.72,15.624v19.176 c0-8.63,7.038-15.624,15.72-15.624h409.786c8.682,0,15.72,6.994,15.72,15.624v-19.176 C476.613,122.529,469.575,115.534,460.893,115.534z"></path> <path style="fill:#EF645E;" d="M364.518,67.74h-41.173C311.884,41.938,286.051,23.935,256,23.935 c-30.051,0-55.884,18.003-67.345,43.805h-41.173c-5.498,0-9.955,4.457-9.955,9.954v63.716c0,5.5,4.456,9.958,9.955,9.958h217.035 c5.497,0,9.954-4.457,9.954-9.958V77.695C374.472,72.198,370.015,67.74,364.518,67.74z"></path> <path style="fill:#F7EEDF;" d="M164.696,124.2V94.91h23.959c10.739,0,20.471-6.326,24.83-16.141 C220.95,61.962,237.638,51.104,256,51.104c18.361,0,35.05,10.859,42.514,27.666c4.36,9.814,14.091,16.141,24.83,16.141h23.959V124.2 H164.696z"></path> <path style="fill:#A5D289;" d="M483.255,399.749c-3.945,0-7.612,1.192-10.672,3.227c-1.03-9.755-9.251-17.358-19.244-17.358 c-9.992,0-18.214,7.603-19.245,17.358c-3.059-2.035-6.727-3.227-10.673-3.227c-10.69,0-19.358,8.699-19.358,19.428v17.665 c0,10.73,8.668,19.428,19.358,19.428c9.993,0,49.842,0,59.833,0c10.692,0,19.358-8.699,19.358-19.428v-17.665 C502.613,408.448,493.947,399.749,483.255,399.749z"></path> <path style="fill:#3585B7;" d="M512,476.289c0,6.503-5.253,11.776-11.732,11.776H406.41c-6.479,0-11.733-5.273-11.733-11.776 v-35.327c0-6.504,5.253-11.775,11.733-11.775h93.858c6.478,0,11.732,5.271,11.732,11.775V476.289z"></path> <path style="fill:#A5D289;" d="M88.578,399.749c-3.946,0-7.614,1.192-10.673,3.227c-1.031-9.755-9.252-17.358-19.245-17.358 c-9.992,0-18.214,7.603-19.244,17.358c-3.06-2.035-6.727-3.227-10.673-3.227c-10.692,0-19.358,8.699-19.358,19.428v17.665 c0,10.73,8.667,19.428,19.358,19.428c9.992,0,49.841,0,59.834,0c10.69,0,19.358-8.699,19.358-19.428v-17.665 C107.936,408.448,99.269,399.749,88.578,399.749z"></path> <path style="fill:#3585B7;" d="M117.322,476.289c0,6.503-5.254,11.776-11.733,11.776H11.732C5.253,488.064,0,482.791,0,476.289 v-35.327c0-6.504,5.253-11.775,11.732-11.775h93.858c6.478,0,11.733,5.271,11.733,11.775v35.327H117.322z"></path> <rect x="196.172" y="412.707" style="fill:#EF645E;" width="119.667" height="75.357"></rect> <rect x="219.633" y="436.253" style="fill:#C14616;" width="72.744" height="28.261"></rect> <path style="opacity:0.1;enable-background:new ;" d="M500.268,429.188H406.41c-6.479,0-11.733,5.271-11.733,11.775v21.828 c0-6.504,5.253-11.775,11.733-11.775h93.858c6.478,0,11.732,5.271,11.732,11.775v-21.828 C512,434.459,506.747,429.188,500.268,429.188z"></path> <path style="opacity:0.1;enable-background:new ;" d="M105.59,429.188H11.732C5.253,429.188,0,434.459,0,440.962v21.828 c0-6.504,5.253-11.775,11.732-11.775h93.858c6.478,0,11.733,5.271,11.733,11.775v-21.828 C117.322,434.459,112.068,429.188,105.59,429.188z"></path> </g></svg>

                <svg width="292.998974609375px" height="126.8px" xmlns="http://www.w3.org/2000/svg" viewBox="103.5005126953125 11.600000000000001 292.998974609375 126.8" style="background: rgba(0, 0, 0, 0);" preserveAspectRatio="xMidYMid">
                    <defs><filter id="editing-extrude-glow"><feFlood flood-color="#333333" result="flood-1"></feFlood><feMorphology operator="erode" radius="1" in="SourceAlpha" result="erode"></feMorphology><feComposite operator="in" in="flood-1" in2="erode" result="comp1"></feComposite><feConvolveMatrix order="3,3" divisor="1" in="comp1" result="convolve" kernelMatrix="0 0 0 1 1 1 0 0 0"></feConvolveMatrix><feOffset dx="-3" dy="0" in="convolve" result="extrude"></feOffset><feComposite operator="in" in="flood-1" in2="extrude" result="comp-extrude"></feComposite><feFlood flood-color="#000000" result="flood-2"></feFlood><feComposite operator="in" in="flood-2" in2="SourceAlpha" result="comp2"></feComposite><feMorphology operator="dilate" radius="1" in="comp2" result="dilate"></feMorphology><feOffset dx="-4.5" dy="0" in="dilate" result="offset"></feOffset><feGaussianBlur in="offset" stdDeviation="5.8" result="blur"></feGaussianBlur><feComponentTransfer in="blur" result="shadow"><feFuncA type="linear" slope="0.8" intercept="-0.2"></feFuncA></feComponentTransfer><feMerge><feMergeNode in="shadow"></feMergeNode><feMergeNode in="comp-extrude"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs>
                    <g filter="url(#editing-extrude-glow)"><g transform="translate(149.89046812057495, 107.12999725341797)"><path d="M29.57-14.66L29.57-14.66L29.57-14.66Q30.78-14.66 30.78-11.58L30.78-11.58L30.78-11.58Q30.78-8.51 29.63-6.08L29.63-6.08L29.63-6.08Q28.48-3.65 26.85-2.30L26.85-2.30L26.85-2.30Q25.22-0.96 23.17-0.13L23.17-0.13L23.17-0.13Q16.32 2.88 10.37-0.26L10.37-0.26L10.37-0.26Q7.36-1.86 5.76-4.06L5.76-4.06L5.76-4.06Q4.16-6.27 3.20-9.34L3.20-9.34L3.20-9.34Q1.73-13.95 1.73-19.01L1.73-19.01L1.73-19.01Q1.73-24.06 2.69-28.48L2.69-28.48L2.69-28.48Q3.65-32.90 5.63-36.90L5.63-36.90L5.63-36.90Q7.62-40.90 11.26-43.33L11.26-43.33L11.26-43.33Q14.91-45.76 19.71-45.76L19.71-45.76L19.71-45.76Q21.76-45.76 23.97-45.09L23.97-45.09L23.97-45.09Q26.18-44.42 27.58-43.42L27.58-43.42L27.58-43.42Q28.99-42.43 30.08-40.38L30.08-40.38L30.08-40.38Q31.17-38.34 31.17-35.58L31.17-35.58L31.17-35.58Q31.17-32.64 29.76-30.27L29.76-30.27L29.76-30.27Q29.12-29.18 27.71-28.32L27.71-28.32L27.71-28.32Q26.30-27.46 24.38-27.46L24.38-27.46L24.38-27.46Q21.44-27.46 20.22-30.08L20.22-30.08L20.22-30.08Q19.71-31.10 19.71-32.32L19.71-32.32L19.71-32.32Q19.71-33.54 20.54-33.73L20.54-33.73L20.54-33.73Q21.44-33.98 22.21-35.14L22.21-35.14L22.21-35.14Q22.98-36.29 22.98-37.82L22.98-37.82L22.98-37.82Q22.98-39.04 22.34-39.94L22.34-39.94L22.34-39.94Q21.12-41.54 18.82-41.54L18.82-41.54L18.82-41.54Q16.51-41.54 14.62-39.42L14.62-39.42L14.62-39.42Q12.74-37.31 11.78-34.11L11.78-34.11L11.78-34.11Q9.86-27.71 9.86-22.34L9.86-22.34L9.86-22.34Q9.86-16.96 11.33-13.70L11.33-13.70L11.33-13.70Q13.12-9.66 15.87-8.32L15.87-8.32L15.87-8.32Q17.60-7.49 19.84-7.49L19.84-7.49L19.84-7.49Q23.62-7.49 26.62-10.88L26.62-10.88L26.62-10.88Q27.90-12.22 28.74-14.08L28.74-14.08L28.74-14.08Q29.06-14.66 29.57-14.66ZM55.68-19.20L55.68-19.20L55.55-11.01L55.55-11.01Q55.55-2.50 57.41-0.77L57.41-0.77L57.41-0.77Q57.66-0.51 57.66-0.19L57.66-0.19L57.66-0.19Q57.66 0.77 53.54 0.77L53.54 0.77L53.54 0.77Q49.41 0.77 49.15-1.66L49.15-1.66L49.15-1.66Q49.09-2.24 49.09-4.03L49.09-4.03L49.34-14.27L49.34-14.27Q49.34-14.72 48.83-14.72L48.83-14.72L48.83-14.72Q45.76-14.72 43.07-12.99L43.07-12.99L43.07-12.99Q40.38-11.26 40.38-8.58L40.38-8.58L40.38-8.58Q40.38-7.17 41.15-6.21L41.15-6.21L41.15-6.21Q41.92-5.25 43.04-5.25L43.04-5.25L43.04-5.25Q44.16-5.25 44.90-5.70L44.90-5.70L44.90-5.70Q45.63-6.14 45.76-6.21L45.76-6.21L45.76-6.21Q46.85-6.08 46.85-3.94L46.85-3.94L46.85-3.94Q46.85-1.79 44.86-0.48L44.86-0.48L44.86-0.48Q42.88 0.83 40.70 0.83L40.70 0.83L40.70 0.83Q38.53 0.83 36.96 0.06L36.96 0.06L36.96 0.06Q35.39-0.70 34.69-1.66L34.69-1.66L34.69-1.66Q33.98-2.62 33.54-3.84L33.54-3.84L33.54-3.84Q33.09-5.31 33.09-6.40L33.09-6.40L33.09-6.40Q33.09-10.88 35.90-13.57L35.90-13.57L35.90-13.57Q38.72-16.26 43.14-17.41L43.14-17.41L43.14-17.41Q48.96-18.56 49.22-19.52L49.22-19.52L49.22-19.52Q49.41-20.22 49.41-21.89L49.41-21.89L49.41-21.89Q49.41-25.28 45.95-25.28L45.95-25.28L45.95-25.28Q44.48-25.28 43.33-24.35L43.33-24.35L43.33-24.35Q42.18-23.42 42.18-22.02L42.18-22.02L42.56-20.48L42.56-20.48Q42.43-19.39 40.26-19.20L40.26-19.20L39.55-19.14L39.55-19.14Q37.63-19.14 36.51-20.10L36.51-20.10L36.51-20.10Q35.39-21.06 35.39-22.66L35.39-22.66L35.39-22.66Q35.39-23.68 36.06-24.93L36.06-24.93L36.06-24.93Q36.74-26.18 37.76-26.94L37.76-26.94L37.76-26.94Q38.78-27.71 40.93-28.32L40.93-28.32L40.93-28.32Q43.07-28.93 45.06-28.93L45.06-28.93L45.06-28.93Q47.04-28.93 48.13-28.80L48.13-28.80L48.13-28.80Q49.22-28.67 51.10-28.19L51.10-28.19L51.10-28.19Q52.99-27.71 54.24-26.37L54.24-26.37L54.24-26.37Q55.49-25.02 55.58-23.52L55.58-23.52L55.58-23.52Q55.68-22.02 55.68-19.20ZM67.90-16L67.90-16L68.22-3.20L68.22-3.20Q68.22 0.83 67.17 3.94L67.17 3.94L67.17 3.94Q66.11 7.04 64.58 8.58L64.58 8.58L64.58 8.58Q61.44 11.84 59.07 12.29L59.07 12.29L57.98 12.54L57.98 12.54Q57.02 12.54 57.02 11.97L57.02 11.97L57.34 11.01L57.34 11.01Q62.02 4.54 62.02-20.74L62.02-20.74L62.02-20.74Q62.02-23.04 61.95-24.19L61.95-24.19L61.95-24.19Q60.61-24.19 59.26-24L59.26-24L59.20-24L59.20-24Q58.50-24 58.50-24.70L58.50-24.70L58.69-27.14L58.69-27.14Q58.75-27.71 59.58-27.71L59.58-27.71L61.89-27.71L61.89-32L62.02-38.08L62.02-38.08Q62.02-38.53 62.18-39.07L62.18-39.07L62.18-39.07Q62.34-39.62 63.55-40.74L63.55-40.74L63.55-40.74Q64.77-41.86 67.14-42.78L67.14-42.78L67.14-42.78Q69.50-43.71 71.20-43.71L71.20-43.71L71.20-43.71Q72.90-43.71 72.90-42.69L72.90-42.69L72.90-42.69Q72.90-42.30 72.32-42.05L72.32-42.05L72.32-42.05Q70.46-41.47 69.28-38.75L69.28-38.75L69.28-38.75Q68.10-36.03 68.10-29.50L68.10-29.50L68.10-27.71L68.10-27.71Q71.36-27.84 72.38-28.03L72.38-28.03L72.38-28.03Q72.83-28.03 72.83-27.26L72.83-27.26L72.83-27.26Q72.83-26.50 72.16-25.38L72.16-25.38L72.16-25.38Q71.49-24.26 70.50-24.22L70.50-24.22L70.50-24.22Q69.50-24.19 68.03-24.26L68.03-24.26L68.03-24.26Q67.90-19.39 67.90-16ZM79.23-16.26L79.23-16.26L79.30-14.66L79.30-14.66Q79.30-14.27 79.81-14.27L79.81-14.27L79.81-14.27Q81.86-14.46 83.39-15.33L83.39-15.33L83.39-15.33Q84.93-16.19 85.70-17.28L85.70-17.28L85.70-17.28Q87.23-19.65 87.36-21.38L87.36-21.38L87.42-22.14L87.42-22.14Q87.42-25.60 84.67-25.60L84.67-25.60L84.67-25.60Q82.62-25.60 81.34-23.81L81.34-23.81L81.34-23.81Q79.23-20.99 79.23-16.26ZM93.18-7.74L93.18-7.74L93.18-7.74Q93.18-5.31 92.19-3.49L92.19-3.49L92.19-3.49Q91.20-1.66 89.95-0.80L89.95-0.80L89.95-0.80Q88.70 0.06 87.04 0.58L87.04 0.58L87.04 0.58Q84.93 1.22 83.01 1.22L83.01 1.22L83.01 1.22Q77.63 1.22 75.07-2.82L75.07-2.82L75.07-2.82Q72.51-6.85 72.51-13.09L72.51-13.09L72.51-13.09Q72.51-19.33 75.68-24.19L75.68-24.19L75.68-24.19Q78.85-29.06 85.18-29.06L85.18-29.06L85.18-29.06Q90.94-29.06 92.99-25.02L92.99-25.02L92.99-25.02Q93.82-23.49 93.82-22.11L93.82-22.11L93.82-22.11Q93.82-20.74 93.70-19.94L93.70-19.94L93.70-19.94Q93.57-19.14 92.80-17.54L92.80-17.54L92.80-17.54Q92.03-15.94 90.75-14.66L90.75-14.66L90.75-14.66Q89.47-13.38 86.72-12.22L86.72-12.22L86.72-12.22Q83.97-11.07 80.26-10.69L80.26-10.69L80.26-10.69Q79.74-10.69 79.74-10.24L79.74-10.24L79.74-10.24Q79.74-9.66 80.16-8.54L80.16-8.54L80.16-8.54Q80.58-7.42 81.09-6.66L81.09-6.66L81.09-6.66Q82.50-4.86 85.25-4.86L85.25-4.86L85.25-4.86Q88-4.86 89.92-6.66L89.92-6.66L89.92-6.66Q90.94-7.62 91.58-9.02L91.58-9.02L91.58-9.02Q91.84-9.54 92.26-9.54L92.26-9.54L92.26-9.54Q92.67-9.54 92.93-8.83L92.93-8.83L92.93-8.83Q93.18-8.13 93.18-7.74ZM124.35-14.66L124.35-14.66L124.35-14.66Q125.57-14.66 125.57-11.58L125.57-11.58L125.57-11.58Q125.57-8.51 124.42-6.08L124.42-6.08L124.42-6.08Q123.26-3.65 121.63-2.30L121.63-2.30L121.63-2.30Q120-0.96 117.95-0.13L117.95-0.13L117.95-0.13Q111.10 2.88 105.15-0.26L105.15-0.26L105.15-0.26Q102.14-1.86 100.54-4.06L100.54-4.06L100.54-4.06Q98.94-6.27 97.98-9.34L97.98-9.34L97.98-9.34Q96.51-13.95 96.51-19.01L96.51-19.01L96.51-19.01Q96.51-24.06 97.47-28.48L97.47-28.48L97.47-28.48Q98.43-32.90 100.42-36.90L100.42-36.90L100.42-36.90Q102.40-40.90 106.05-43.33L106.05-43.33L106.05-43.33Q109.70-45.76 114.50-45.76L114.50-45.76L114.50-45.76Q116.54-45.76 118.75-45.09L118.75-45.09L118.75-45.09Q120.96-44.42 122.37-43.42L122.37-43.42L122.37-43.42Q123.78-42.43 124.86-40.38L124.86-40.38L124.86-40.38Q125.95-38.34 125.95-35.58L125.95-35.58L125.95-35.58Q125.95-32.64 124.54-30.27L124.54-30.27L124.54-30.27Q123.90-29.18 122.50-28.32L122.50-28.32L122.50-28.32Q121.09-27.46 119.17-27.46L119.17-27.46L119.17-27.46Q116.22-27.46 115.01-30.08L115.01-30.08L115.01-30.08Q114.50-31.10 114.50-32.32L114.50-32.32L114.50-32.32Q114.50-33.54 115.33-33.73L115.33-33.73L115.33-33.73Q116.22-33.98 116.99-35.14L116.99-35.14L116.99-35.14Q117.76-36.29 117.76-37.82L117.76-37.82L117.76-37.82Q117.76-39.04 117.12-39.94L117.12-39.94L117.12-39.94Q115.90-41.54 113.60-41.54L113.60-41.54L113.60-41.54Q111.30-41.54 109.41-39.42L109.41-39.42L109.41-39.42Q107.52-37.31 106.56-34.11L106.56-34.11L106.56-34.11Q104.64-27.71 104.64-22.34L104.64-22.34L104.64-22.34Q104.64-16.96 106.11-13.70L106.11-13.70L106.11-13.70Q107.90-9.66 110.66-8.32L110.66-8.32L110.66-8.32Q112.38-7.49 114.62-7.49L114.62-7.49L114.62-7.49Q118.40-7.49 121.41-10.88L121.41-10.88L121.41-10.88Q122.69-12.22 123.52-14.08L123.52-14.08L123.52-14.08Q123.84-14.66 124.35-14.66ZM135.17-16.26L135.17-16.26L135.23-14.66L135.23-14.66Q135.23-14.27 135.74-14.27L135.74-14.27L135.74-14.27Q137.79-14.46 139.33-15.33L139.33-15.33L139.33-15.33Q140.86-16.19 141.63-17.28L141.63-17.28L141.63-17.28Q143.17-19.65 143.30-21.38L143.30-21.38L143.36-22.14L143.36-22.14Q143.36-25.60 140.61-25.60L140.61-25.60L140.61-25.60Q138.56-25.60 137.28-23.81L137.28-23.81L137.28-23.81Q135.17-20.99 135.17-16.26ZM149.12-7.74L149.12-7.74L149.12-7.74Q149.12-5.31 148.13-3.49L148.13-3.49L148.13-3.49Q147.14-1.66 145.89-0.80L145.89-0.80L145.89-0.80Q144.64 0.06 142.98 0.58L142.98 0.58L142.98 0.58Q140.86 1.22 138.94 1.22L138.94 1.22L138.94 1.22Q133.57 1.22 131.01-2.82L131.01-2.82L131.01-2.82Q128.45-6.85 128.45-13.09L128.45-13.09L128.45-13.09Q128.45-19.33 131.62-24.19L131.62-24.19L131.62-24.19Q134.78-29.06 141.12-29.06L141.12-29.06L141.12-29.06Q146.88-29.06 148.93-25.02L148.93-25.02L148.93-25.02Q149.76-23.49 149.76-22.11L149.76-22.11L149.76-22.11Q149.76-20.74 149.63-19.94L149.63-19.94L149.63-19.94Q149.50-19.14 148.74-17.54L148.74-17.54L148.74-17.54Q147.97-15.94 146.69-14.66L146.69-14.66L146.69-14.66Q145.41-13.38 142.66-12.22L142.66-12.22L142.66-12.22Q139.90-11.07 136.19-10.69L136.19-10.69L136.19-10.69Q135.68-10.69 135.68-10.24L135.68-10.24L135.68-10.24Q135.68-9.66 136.10-8.54L136.10-8.54L136.10-8.54Q136.51-7.42 137.02-6.66L137.02-6.66L137.02-6.66Q138.43-4.86 141.18-4.86L141.18-4.86L141.18-4.86Q143.94-4.86 145.86-6.66L145.86-6.66L145.86-6.66Q146.88-7.62 147.52-9.02L147.52-9.02L147.52-9.02Q147.78-9.54 148.19-9.54L148.19-9.54L148.19-9.54Q148.61-9.54 148.86-8.83L148.86-8.83L148.86-8.83Q149.12-8.13 149.12-7.74ZM158.72-16.26L158.72-16.26L158.78-14.66L158.78-14.66Q158.78-14.27 159.30-14.27L159.30-14.27L159.30-14.27Q161.34-14.46 162.88-15.33L162.88-15.33L162.88-15.33Q164.42-16.19 165.18-17.28L165.18-17.28L165.18-17.28Q166.72-19.65 166.85-21.38L166.85-21.38L166.91-22.14L166.91-22.14Q166.91-25.60 164.16-25.60L164.16-25.60L164.16-25.60Q162.11-25.60 160.83-23.81L160.83-23.81L160.83-23.81Q158.72-20.99 158.72-16.26ZM172.67-7.74L172.67-7.74L172.67-7.74Q172.67-5.31 171.68-3.49L171.68-3.49L171.68-3.49Q170.69-1.66 169.44-0.80L169.44-0.80L169.44-0.80Q168.19 0.06 166.53 0.58L166.53 0.58L166.53 0.58Q164.42 1.22 162.50 1.22L162.50 1.22L162.50 1.22Q157.12 1.22 154.56-2.82L154.56-2.82L154.56-2.82Q152-6.85 152-13.09L152-13.09L152-13.09Q152-19.33 155.17-24.19L155.17-24.19L155.17-24.19Q158.34-29.06 164.67-29.06L164.67-29.06L164.67-29.06Q170.43-29.06 172.48-25.02L172.48-25.02L172.48-25.02Q173.31-23.49 173.31-22.11L173.31-22.11L173.31-22.11Q173.31-20.74 173.18-19.94L173.18-19.94L173.18-19.94Q173.06-19.14 172.29-17.54L172.29-17.54L172.29-17.54Q171.52-15.94 170.24-14.66L170.24-14.66L170.24-14.66Q168.96-13.38 166.21-12.22L166.21-12.22L166.21-12.22Q163.46-11.07 159.74-10.69L159.74-10.69L159.74-10.69Q159.23-10.69 159.23-10.24L159.23-10.24L159.23-10.24Q159.23-9.66 159.65-8.54L159.65-8.54L159.65-8.54Q160.06-7.42 160.58-6.66L160.58-6.66L160.58-6.66Q161.98-4.86 164.74-4.86L164.74-4.86L164.74-4.86Q167.49-4.86 169.41-6.66L169.41-6.66L169.41-6.66Q170.43-7.62 171.07-9.02L171.07-9.02L171.07-9.02Q171.33-9.54 171.74-9.54L171.74-9.54L171.74-9.54Q172.16-9.54 172.42-8.83L172.42-8.83L172.42-8.83Q172.67-8.13 172.67-7.74ZM187.52 17.73L187.52 17.73L187.52 17.73Q187.52 18.50 186.75 18.50L186.75 18.50L186.69 18.50L186.69 18.50Q184.58 18.50 181.92 17.02L181.92 17.02L181.92 17.02Q179.26 15.55 179.26 13.63L179.26 13.63L179.26 13.63Q179.26 11.71 181.70 6.94L181.70 6.94L181.70 6.94Q184.13 2.18 184.13 0.58L184.13 0.58L184.13 0.58Q184.13-1.15 182.46-5.63L182.46-5.63L182.46-5.63Q180.35-11.46 179.10-15.10L179.10-15.10L179.10-15.10Q177.86-18.75 176.42-21.54L176.42-21.54L176.42-21.54Q174.98-24.32 174.34-24.83L174.34-24.83L173.70-25.28L173.70-25.28Q172.99-25.66 172.99-26.11L172.99-26.11L172.99-26.11Q172.99-27.01 175.78-27.94L175.78-27.94L175.78-27.94Q178.56-28.86 180.67-28.86L180.67-28.86L180.67-28.86Q181.63-28.86 182.27-27.33L182.27-27.33L182.27-27.33Q183.42-24.32 184.77-19.01L184.77-19.01L184.77-19.01Q188.03-8.13 188.86-8.13L188.86-8.13L188.86-8.13Q189.44-8.13 191.20-12.61L191.20-12.61L191.20-12.61Q192.96-17.09 192.96-19.84L192.96-19.84L192.96-19.84Q192.96-24.64 190.14-25.47L190.14-25.47L190.14-25.47Q189.50-25.60 189.50-26.11L189.50-26.11L189.50-26.11Q189.50-27.26 192.51-28.32L192.51-28.32L192.51-28.32Q195.52-29.38 197.95-29.38L197.95-29.38L197.95-29.38Q200.06-29.38 200.06-26.62L200.06-26.62L200.06-26.62Q200.06-24.51 199.17-21.70L199.17-21.70L199.17-21.70Q198.27-18.88 197.50-17.25L197.50-17.25L197.50-17.25Q196.74-15.62 193.70-9.70L193.70-9.70L193.70-9.70Q190.66-3.78 188.67 0.70L188.67 0.70L188.67 0.70Q186.50 6.08 186.50 11.65L186.50 11.65L186.50 11.65Q186.50 14.59 187.01 16.06L187.01 16.06L187.01 16.06Q187.52 17.54 187.52 17.73Z" fill="#eb6c6c"></path></g></g>

                </svg>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>   
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="nav-item">
                                <div class="d-flex align-items-center">
                                    <h6 class="mt-3 fw-bold">Garson Paneli</h6>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">               
                            <li class="nav-item dropdown has-arrow new-user-menus">
                                <a href="#" class="dropdown-toggle nav-link d-flex align-items-center" data-bs-toggle="dropdown">
                                    <i class="fas fa-user me-2" style="font-size: 24px; color: #333;"></i>
                                    <div class="user-text">
                                        <h6 class="mb-0">Merhaba, Garson</h6>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ms-2" style="color:white">Profil</span>
                                    </a>                                  
                                    <a asp-action="Logout" asp-controller="Account" asp-area="" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ms-2" style=" color: white;">Çıkış</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a asp-controller="Home" asp-action="Index" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Ana Sayfa</span>
                        </a>
                    </li>
                    <li>
                        <a  asp-controller="Masa" asp-action="Index"  aria-expanded="false">
                            <i class="fa-regular fa-table-picnic"></i>
                            <span class="nav-text">Masa Listesi</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="MasaSiparis" asp-action="Index" aria-expanded="false">
                            <i class="fa-regular fa-table-picnic"></i>
                            <span class="nav-text">Masa Siparişleri</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="MutfakSiparis" asp-action="Index" aria-expanded="false">
                            <i class="fa-regular fa-table-picnic"></i>
                            <span class="nav-text">Mutfak Siparişleri</span>
                        </a>
                    </li>
                    <li>
                        <a @* asp-controller="Home" asp-action="Index" *@ aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Sipariş Oluştur</span>
                        </a>
                    </li>


                </ul>
                <div class="copyright">
                    <p><strong>CEYDA CEYLAN</strong> © 2024 Tüm Hakları Saklıdır</p>
                    <p class="fs-12">Made with <span class="heart"></span> by Ceycey</p>
                </div>
            </div>
        </div>

        @RenderBody()

        <div class="footer">

            <div class="copyright">
                <p><b>CEYDA CEYLAN</b> <br />  © 2024 Tüm Hakları Saklıdır. <a href="https://dexignzone.com/" target="_blank"></a></p>
            </div>
        </div>
    </div>
    @*Takvim*@
    <script src="~/admin/vendor/fullcalendar/js/main.min.js"></script>
    <script src="~/admin/js/plugins-init/fullcalendar-init.js"></script>

    <script src="/admin/vendor/global/global.min.js"></script>
    <script src="~/admin/vendor/moment/moment.min.js"></script>

    <script src="/admin/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/admin/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <script src="/admin/vendor/peity/jquery.peity.min.js"></script>

    <script src="/admin/js/dashboard/dashboard-1.js"></script>

    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/deznav-init.js"></script>
    <script src="/admin/js/demo.js"></script>
    <script src="/admin/js/styleSwitcher.js"></script>

    <script src="/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/js/plugins-init/datatables.init.js"></script>

    <script src="/admin/vendor/select2/js/select2.full.min.js"></script>
    <script src="/admin/js/plugins-init/select2-init.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    @RenderSection("Scripts", required: false)
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    @*Takvim*@
    <script src="~/admin/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/admin/js/plugins-init/bs-daterange-picker-init.js"></script>


    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>