<section class="page_breadcrumb" style="background: url(/kullanici/images/counter_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="breadcrumb_text">
                <h1>contact with us</h1>
                <ul>
                    <li><a href="index-2.html">home</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--=============================
    BREADCRUMB END
==============================-->
<!--=============================
    CONTACT PAGE START
==============================-->
<section class="contact mt_100 xs_mt_70 mb_100 xs_mb_70">
    <div class="container">
        <div class="contact_form_area">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-lg-5 wow fadeInUp" data-wow-duration="1s">
                    <div class="contact_info_area">
                        <div class="contact_info">
                            <h3>İletişim</h3>
                            <p>+1347-430-9510</p>
                            <p>+9658745554002</p>
                        </div>
                        <div class="contact_info">
                            <h3>Mail Adresimiz</h3>
                            <p>websolutionus1@gmail.com</p>
                            <p>example@gmail.com</p>
                        </div>
                        <div class="contact_info border-0 p-0 m-0">
                            <h3>Adres</h3>
                            <p>Merkez/Düzce</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-7 col-md-6 col-lg-7 wow fadeInUp" data-wow-duration="1s">
                    <form class="contact_form">
                        <h3>İletişime Geç</h3>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact_form_input">
                                    <span><i class="fas fa-user"></i></span>
                                    <input type="text" placeholder="Ad Soyad">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="contact_form_input">
                                    <span><i class="fas fa-envelope"></i></span>
                                    <input type="email" placeholder="E-posta">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="contact_form_input">
                                    <span><i class="fas fa-phone-alt"></i></span>
                                    <input type="text" placeholder="Telefon">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="contact_form_input">
                                    <span><i class="fas fa-book"></i></span>
                                    <input type="text" placeholder="Konu">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="contact_form_input textarea">
                                    <span><i class="fas fa-pen"></i></span>
                                    <textarea rows="5" placeholder="Mesaj"></textarea>
                                </div>
                                <button class="common_btn" type="submit">Mesaj Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="contact_map_area">
            <div class="row mt_100 xs_mt_70">
                <div class="col-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="contact_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4268.8447890169455!2d31.161884373603286!3d40.83830594748831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d75452db703b9%3A0xbc60c0d373f3b835!2sD%C3%BCzce%20Belediyesi!5e0!3m2!1str!2str!4v1715585839521!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>