<section class="page_breadcrumb" style="background: url(/kullanici/images/counter_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="breadcrumb_text">
                <h1>Sepetim</h1>
                <ul>
                    <li><a href="index-2.html">Anasayfa</a></li>
                    <li><a href="#">Sepetim</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="cart_view mt_100 xs_mt_70 mb_100 xs_mb_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s">
                <div class="cart_list">
                    <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <th class="pro_img">
                                        Resim
                                    </th>

                                    <th class="pro_name">
                                        Detaylar
                                    </th>

                                    <th class="pro_status">
                                        Fiyat
                                    </th>

                                    <th class="pro_select">
                                        Miktar
                                    </th>

                                    <th class="pro_tk">
                                        Toplam
                                    </th>

                                    <th class="pro_icon">
                                        <a class="clear_all" href="#">Hepsini Temizle</a>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="pro_img">
                                        <img src="~/kullanici/images/menu2_img_1.jpg" alt="product" class="img-fluid w-100">
                                    </td>

                                    <td class="pro_name">
                                        <a href="#">Hyderabadi Biryani</a>
                                        <span>medium</span>
                                        <p>coca-cola</p>
                                        <p>7up</p>
                                    </td>

                                    <td class="pro_status">
                                        <h6>$180.00</h6>
                                    </td>

                                    <td class="pro_select">
                                        <div class="quentity_btn">
                                            <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                            <input type="text" placeholder="1">
                                            <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <td class="pro_tk">
                                        <h6>$180,00</h6>
                                    </td>

                                    <td class="pro_icon">
                                        <a href="#"><i class="far fa-times"></i></a>
                                    </td>
                                </tr>                                                                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s">
                <div class="cart_list_footer_button mt_50">
                    <div class="row">
                        <div class="col-xl-7 col-md-6">
                            <div class="cart_list_footer_button_img">
                                <img src="~/kullanici/images/cart_offer_img.jpg" alt="cart offer" class="img-fluid w-100">
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6">
                            <div class="cart_list_footer_button_text">
                                <h6>Toplam Sepet (02)</h6>
                                <p>Ara Toplam: <span>$124.00</span></p>
                                <p>Teslimat: <span>$00.00</span></p>
                                <p>İndirim: <span>$10.00</span></p>
                                <p class="total"><span>Toplam:</span> <span>$134.00</span></p>
                                <form>
                                    <input type="text" placeholder="Kupon Uygula">
                                    <button type="submit">Uygula</button>
                                </form>
                                <a class="common_btn" href="check_out.html">checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>