 @model IEnumerable<Personel>
<section class="page_breadcrumb" style="background: url(/kullanici/images/counter_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="breadcrumb_text">
                <h1>Meet Our Expert Chefs</h1>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li><a href="#">Personeller</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
                 
<section class="team_page pt_75 xs_pt_45 pb_100 xs_pb_70">
    <div class="container">
        <div class="row">
            @foreach (var personel in Model.Where(p => p.Rol.Ad == "Şef"))
            {
                <div class="col-xxl-3 col-sm-6 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_team">
                        <div class="single_team_img">
                            <img src="~/img/@personel.PersonelFotograf" alt="team" class="img-fluid w-100">
                        </div>
                        <div class="single_team_text">
                            <h4>@personel.Ad @personel.Soyad</h4>
                            <p>@personel.Rol.Ad</p>
                            <ul class="d-flex flex-wrap">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
