<section class="page_breadcrumb" style="background: url(/kullanici/images/counter_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="breadcrumb_text">
                <h1>forgot password</h1>
                <ul>
                    <li><a href="index-2.html">home</a></li>
                    <li><a href="#">forgot password</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>