@model Personel

<head>
    <link href="~/admin/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admin/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">

</head>
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <form asp-action="PersonelEkle" asp-controller="Personel" enctype="multipart/form-data" method="post" novalidate>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">PERSONEL EKLE</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 ">
                                            <label class="text-label form-label " style="color:black;">Ad</label>
                                            <input asp-for="Ad" class="form-control border border-dark" type="text">
                                            <span asp-validation-for="Ad" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-label form-label" style="color:black;">Soyad</label>
                                            <input asp-for="Soyad" class="form-control border border-dark" type="text">
                                            <span asp-validation-for="Soyad" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-label form-label" style="color:black;">Doğum Tarihi</label>
                                            <input asp-for="DogumTarihi" class="form-control border border-dark" type="date">
                                            <span asp-validation-for="DogumTarihi" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-label form-label" style="color:black;">Başlama Tarihi</label>
                                            <input asp-for="BaslamaTarihi" class="form-control border border-dark" type="date">
                                            <span asp-validation-for="BaslamaTarihi" class="text-danger"></span>
                                        </div>                                        
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="mb-3 mt-2">
                                            <label class="text-label form-label" style="color:black;">Rol</label>
                                            <select asp-for="RolId" class="form-control border border-dark" id="single-select" asp-items="ViewBag.Roller">
                                                <option value="">Rol Seçiniz</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 mt-2">
                                            <label class="text-label form-label" style="color:black;">Telefon</label>
                                            <input asp-for="Telefon" class="form-control border border-dark" type="text">
                                            <span asp-validation-for="Telefon" class="text-danger"></span>
                                        </div>                                      
                                        <div class="mb-3 mt-2">
                                            <label class="text-label form-label" style="color:black;">Maaş</label>
                                            <input asp-for="Maas" class="form-control border border-dark" type="text">
                                            <span asp-validation-for="Maas" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 mt-2">
                                            <label class="text-label form-label" style="color:black;">Cinsiyet</label>
                                            <select asp-for="Cinsiyet" class="form-control border border-dark" type="text">
                                                <option value="">Cinsiyet Seçiniz</option>
                                                <option value="True">Kadın</option>
                                                <option value="False">Erkek</option>
                                            </select>
                                            <span asp-validation-for="Cinsiyet" class="text-danger"></span>
                                        </div>                                     
                                    </div>
                                    <div class="mb-3">
                                        <div class="container" style="width:364px;">
                                            <p style="color:black;">Fotoğraf Yükle</p>
                                            <div class="input-group">
                                                <div class="form-file">
                                                    @if (Model != null)
                                                    {
                                                        <input asp-for="PersonelFotograf" value="@Model.PersonelFotograf" type="hidden" />
                                                    }
                                                    <label for="files" class="form-label" style="color:black;"></label>
                                                    <input id="files" name="file" type="file" class="dropify" data-height="100" />
                                                    <span asp-validation-for="PersonelFotograf" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card mx-auto">
                                <div class="card-header">
                                    <h4 class="card-title">ADRES BİLGİLERİ</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <div class="mb-3 mt-2">
                                            <label class="text-label form-label" style="color:black;">Adres</label>
                                            <input asp-for="Adres" class="form-control border border-dark" type="text">
                                            <span asp-validation-for="Adres" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="card mx-auto">
                                <div class="card-header">
                                    <h4 class="card-title">GİRİŞ BİLGİLERİ</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <div class="mb-3">
                                            <label class="text-label form-label" for="validationCustomUsername" style="color:black;">E Posta</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fa fa-user"></i> </span>
                                                <input asp-for="Eposta" type="email" class="form-control border border-dark" id="validationCustomUsername" placeholder="email@example.com">
                                            </div>
                                            <span asp-validation-for="Eposta" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="text-label form-label" for="dz-password" style="color:black;">Password</label>
                                            <div class="input-group transparent-append">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                <input asp-for="PersonelParola" type="password" class="form-control border border-dark" id="dz-password" placeholder="Şifre Gir">
                                                <span class="input-group-text show-pass">
                                                    <i class="fa fa-eye-slash"></i>
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="PersonelParola" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/admin/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/admin/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/admin/js/plugins-init/select2-init.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
    
    <script>
        $('.dropify').dropify();

    </script>
}               