@model Rol

<div class="content-body ">
    <div class="container-fluid ">       
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Rol Ekle</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <form asp-action="RolEkle" asp-controller="Personel" method="post" novalidate>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 ">
                                            <label class="text-label form-label " style="color:black;">Rol Ekle</label>
                                            <input asp-for="Ad" class="form-control border border-dark" type="text">
                                            <span asp-validation-for="Ad" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="mb-3">
                                            <label class="text-label form-label" style="color:black;">Eklenme Tarihi</label>
                                            <input asp-for="EklenmeTarihi" class="form-control border border-dark" type="date">
                                            <span asp-validation-for="EklenmeTarihi" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </div>                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/admin/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/admin/js/plugins-init/bs-daterange-picker-init.js"></script>
 
    @* <script>
        $('input[name="EklenmeTarihi"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 2000,
            maxYear: parseInt(moment().format('YYYY'), 10)
        });
    </script> *@
}   